.container{
   margin-bottom: 100px;
}

#top-section{
    margin-bottom: 0px;

}
.bg-light{
    background-color: white !important;
}


.carousel-indicators li{
    background-color: tomato;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: red;
    color: black;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.card{
    border: none;
    box-shadow: 6px 5px 30px lightgray;
   border-radius: 10px;
}

.btn-primary{
    color: white;
    background-color: black;
}

.items{
    box-shadow: 5px 5px 30px lightgrey;
    padding: 20px 0px;
    margin-bottom: 30px;
    border-radius: 5%;
}

.items img{
    width: 50%;
}

#smartphone{
    margin-bottom: 0px;
}

.bar{
    width: 110px;
    height:10px;
    background-image: linear-gradient(to left, tomato, orange);
    margin: auto;
    border-radius: 8px;
}
.form input{
    width: 100%;
    border: 0px;
    border: 1px solid gray;
    padding: 4px 10px;
    margin: 7px 0px;
    border-radius: 6px;
}
.form button{
    border: none;
    padding:10px 30px;
    background-image: linear-gradient(to top, red , yellow);
    border-radius: 6px;
    color: black;
}

footer{
    margin-bottom: 0px;
}

#footer-section{
    margin-bottom: 0px;
}



